<div id="login_page" data-role="page">
	<h1>Log In</h1>

<form accept-charset="UTF-8" action="/user_accounts/sign_in" class="new_user_account" id="new_user_account" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="pVW/AvMsGUYohv9SVJZPjE6OuMePYcmW97Ft0YfMBMg="></div>
  <div><label for="user_account_email">Email</label><br>
  <input autofocus="autofocus" id="user_account_email" name="user_account[email]" type="email" value=""></div>

  <div><label for="user_account_password">Password</label><br>
  <input id="user_account_password" name="user_account[password]" type="password"></div>

    <div><input name="user_account[remember_me]" type="hidden" value="0"><input id="user_account_remember_me" name="user_account[remember_me]" type="checkbox" value="1"> <label for="user_account_remember_me">Remember me</label></div>

  <div><input name="commit" type="submit" value="Sign in"></div>
</form>

  <a href="/user_accounts/sign_up">Sign up</a><br>

  <a href="/user_accounts/password/new">Forgot your password?</a><br>
</div>

<div id="account_request_page" data-role="page">
	<h1>Request an Account</h1>
<form accept-charset="UTF-8" action="/confessor_requests" class="new_confessor_request" id="new_confessor_request" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="pVW/AvMsGUYohv9SVJZPjE6OuMePYcmW97Ft0YfMBMg="></div>
  
  <p>Fill out the fields below. We'll verify your identity and then send you an email with a link to complete the signup process. This usually takes about three days.</p>

  <div class="field">
    <label for="confessor_request_first_name">First name</label><br>
    <input id="confessor_request_first_name" name="confessor_request[first_name]" type="text">
  </div>
  <div class="field">
    <label for="confessor_request_last_name">Last name</label><br>
    <input id="confessor_request_last_name" name="confessor_request[last_name]" type="text">
  </div>
  <div class="field">
    <label for="confessor_request_email">Email</label><br>
    <input id="confessor_request_email" name="confessor_request[email]" type="text">
  </div>
  <div class="field">
    <label for="confessor_request_diocese">Diocese</label><br>
    <select id="confessor_request_diocese_id" name="confessor_request[diocese_id]"><option value="1">Birmingham</option>
<option value="2">Mobile</option>
<option value="3">Anchorage</option>
<option value="4">Fairbanks</option>
<option value="5">Juneau</option>
<option value="6">Holy Protection of Mary</option>
<option value="7">Phoenix</option>
<option value="8">Tucson</option>
<option value="9">Little Rock</option>
<option value="10">St. Peter the Apostle</option>
<option value="11">Fresno</option>
<option value="12">Los Angeles</option>
<option value="13">Monterey</option>
<option value="14">Oakland</option>
<option value="15">Orange</option>
<option value="16">Sacramento</option>
<option value="17">San Bernardino</option>
<option value="18">San Diego</option>
<option value="19">San Francisco</option>
<option value="20">San Jose</option>
<option value="21">Santa Rosa</option>
<option value="22">Stockton</option>
<option value="23">Colorado Springs</option>
<option value="24">Denver</option>
<option value="25">Pueblo</option>
<option value="26">Bridgeport</option>
<option value="27">Hartford</option>
<option value="28">Norwich</option>
<option value="29">Stamford</option>
<option value="30">Wilmington</option>
<option value="31">The Military Services</option>
<option value="32">Washington</option>
<option value="33">Miami</option>
<option value="34">Orlando</option>
<option value="35">Palm Beach</option>
<option value="36">Pensacola-Tallahassee</option>
<option value="37">St. Augustine</option>
<option value="38">St. Petersburg</option>
<option value="39">Venice</option>
<option value="40">Atlanta</option>
<option value="41">Savannah</option>
<option value="42">Honolulu</option>
<option value="43">Boise</option>
<option value="44">Belleville</option>
<option value="45">Chicago</option>
<option value="46">Joliet</option>
<option value="47">Peoria</option>
<option value="48">Rockford</option>
<option value="49">Springfield (IL)</option>
<option value="50">St. Nicholas</option>
<option value="51">St. Thomas</option>
<option value="52">Evansville</option>
<option value="53">Fort Wayne-South Bend</option>
<option value="54">Gary</option>
<option value="55">Indianapolis</option>
<option value="56">Lafayette (IN)</option>
<option value="57">Davenport</option>
<option value="58">Des Moines</option>
<option value="59">Dubuque</option>
<option value="60">Sioux City</option>
<option value="61">Dodge City</option>
<option value="62">Kansas City (KS)</option>
<option value="63">Salina</option>
<option value="64">Wichita</option>
<option value="65">Covington</option>
<option value="66">Lexington</option>
<option value="67">Louisville</option>
<option value="68">Owensboro</option>
<option value="69">Alexandria</option>
<option value="70">Baton Rouge</option>
<option value="71">Houma-Thibodaux</option>
<option value="72">Lafayette (LA)</option>
<option value="73">Lake Charles</option>
<option value="74">New Orleans</option>
<option value="75">Shreveport</option>
<option value="76">Portland (ME)</option>
<option value="77">Baltimore</option>
<option value="78">Boston</option>
<option value="79">Newton</option>
<option value="80">Fall River</option>
<option value="81">Springfield (MA)</option>
<option value="82">Worcester</option>
<option value="83">St. Thomas the Apostle (MI)</option>
<option value="84">Detroit</option>
<option value="85">Gaylord</option>
<option value="86">Grand Rapids</option>
<option value="87">Kalamazoo</option>
<option value="88">Lansing</option>
<option value="89">Marquette</option>
<option value="90">Saginaw</option>
<option value="91">Crookston</option>
<option value="92">Duluth</option>
<option value="93">New Ulm</option>
<option value="94">St. Cloud</option>
<option value="95">St. Paul and Minneapolis</option>
<option value="96">Winona</option>
<option value="97">Biloxi</option>
<option value="98">Jackson</option>
<option value="99">Jefferson City</option>
<option value="100">Kansas City (MO)</option>
<option value="101">Our Lady of Lebanon</option>
<option value="102">Springfield (MO)</option>
<option value="103">St. Louis</option>
<option value="104">Great Falls-Billings</option>
<option value="105">Helena</option>
<option value="106">Grand Island</option>
<option value="107">Lincoln</option>
<option value="108">Omaha</option>
<option value="109">Las Vegas</option>
<option value="110">Reno</option>
<option value="111">Manchester</option>
<option value="112">Passaic</option>
<option value="113">Camden</option>
<option value="114">Our Lady of Deliverance</option>
<option value="115">Metuchen</option>
<option value="116">Newark</option>
<option value="117">Paterson</option>
<option value="118">Trenton</option>
<option value="119">Gallup</option>
<option value="120">Las Cruces</option>
<option value="121">Santa Fe</option>
<option value="122">Albany</option>
<option value="123">Our Lady of Nareg</option>
<option value="124">Brooklyn</option>
<option value="125">Buffalo</option>
<option value="126">St. Maron</option>
<option value="127">New York</option>
<option value="128">Ogdensburg</option>
<option value="129">Rochester</option>
<option value="130">Rockville Centre</option>
<option value="131">Syracuse</option>
<option value="132">Syro-Malankara</option>
<option value="133">Charlotte</option>
<option value="134">Raleigh</option>
<option value="135">Bismarck</option>
<option value="136">Fargo</option>
<option value="137">Cincinnati</option>
<option value="138">Cleveland</option>
<option value="139">Columbus</option>
<option value="140">Parma</option>
<option value="141">St. George</option>
<option value="142">Steubenville</option>
<option value="143">Toledo</option>
<option value="144">St. Josaphat</option>
<option value="145">Youngstown</option>
<option value="146">Oklahoma City</option>
<option value="147">Tulsa</option>
<option value="148">Baker</option>
<option value="149">Portland (OR)</option>
<option value="150">Allentown</option>
<option value="151">Altoona-Johnstown</option>
<option value="152">Pittsburgh</option>
<option value="153">Erie</option>
<option value="154">Greensburg</option>
<option value="155">Harrisburg</option>
<option value="156">Philadelphia</option>
<option value="157">Pittsburgh</option>
<option value="158">Scranton</option>
<option value="159">Philadelphia</option>
<option value="160">Providence</option>
<option value="161">Charleston</option>
<option value="162">Rapid City</option>
<option value="163">Sioux Falls</option>
<option value="164">Knoxville</option>
<option value="165">Memphis</option>
<option value="166">Nashville</option>
<option value="167">Amarillo</option>
<option value="168">Austin</option>
<option value="169">Beaumont</option>
<option value="170">Brownsville</option>
<option value="171">Corpus Christi</option>
<option value="172">Dallas</option>
<option value="173">El Paso</option>
<option value="174">Fort Worth</option>
<option value="175">Galveston-Houston</option>
<option value="176">Laredo</option>
<option value="177">Lubbock</option>
<option value="178">San Angelo</option>
<option value="179">San Antonio</option>
<option value="180">St. Peter</option>
<option value="181">Tyler</option>
<option value="182">Victoria</option>
<option value="183">Salt Lake City</option>
<option value="184">Burlington</option>
<option value="185">St. Thomas (VI)</option>
<option value="186">Arlington</option>
<option value="187">Richmond</option>
<option value="188">Seattle</option>
<option value="189">Spokane</option>
<option value="190">Yakima</option>
<option value="191">Wheeling-Charleston</option>
<option value="192">Green Bay</option>
<option value="193">La Crosse</option>
<option value="194">Madison</option>
<option value="195">Milwaukee</option>
<option value="196">Superior</option>
<option value="197">Cheyenne</option></select>
  </div>
  <div class="field">
    <label for="confessor_request_state">State</label><br>
    <select id="confessor_request_state_id" name="confessor_request[state_id]"><option value="1">Alabama</option>
<option value="2">Alaska</option>
<option value="3">Arizona</option>
<option value="4">Arkansas</option>
<option value="5">California</option>
<option value="6">Colorado</option>
<option value="7">Connecticut</option>
<option value="8">Delaware</option>
<option value="9">District of Columbia</option>
<option value="10">Florida</option>
<option value="11">Georgia</option>
<option value="12">Hawaii</option>
<option value="13">Idaho</option>
<option value="14">Illinois</option>
<option value="15">Indiana</option>
<option value="16">Iowa</option>
<option value="17">Kansas</option>
<option value="18">Kentucky</option>
<option value="19">Louisiana</option>
<option value="20">Maine</option>
<option value="21">Maryland</option>
<option value="22">Massachusetts</option>
<option value="23">Michigan</option>
<option value="24">Minnesota</option>
<option value="25">Mississippi</option>
<option value="26">Missouri</option>
<option value="27">Montana</option>
<option value="28">Nebraska</option>
<option value="29">Nevada</option>
<option value="30">New Hampshire</option>
<option value="31">New Jersey</option>
<option value="32">New Mexico</option>
<option value="33">New York</option>
<option value="34">North Carolina</option>
<option value="35">North Dakota</option>
<option value="36">Ohio</option>
<option value="37">Oklahoma</option>
<option value="38">Oregon</option>
<option value="39">Pennsylvania</option>
<option value="40">Puerto Rico</option>
<option value="41">Rhode Island</option>
<option value="42">South Carolina</option>
<option value="43">South Dakota</option>
<option value="44">Tennessee</option>
<option value="45">Texas</option>
<option value="46">Utah</option>
<option value="47">Vermont</option>
<option value="48">Virginia</option>
<option value="49">Washington</option>
<option value="50">West Virginia</option>
<option value="51">Wisconsin</option>
<option value="52">Wyoming</option>
<option value="53">zzPassword</option></select>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Submit Request">
  </div>
</form>

</div>

<div id="existing_accounts_page" data-role="page">
<ul>
	<h2>Accounts</h2>
	<a href="#"><h3>Richard Heilman</h3></a>
		<p>
			Priest - Diocese of Madison, WI
    	</p>
	<a href="#"><h3>Alexander Sample</h3></a>
		<p>
			Bishop - Diocese of Portland, OR
    	</p>
	<a href="#"><h3>Roland Scott</h3></a>
    	<p>
    		Administrator
    	</p>
</ul></div>

<div id="edit_account_page" data-role="page">
	
</div>

<div id="pending_requests_page" data-role="page">
	<h2>Account Requests</h2>
	<ul>
    <li>
    	<h3>Larry VanDamme - Diocese of Lansing, MI</h3>
    	<p>lvandamme@mtu.edu</p>
    	<form></form>
    		<p><input id="verified_checkbox" type="checkbox"><label for="verified_checkbox">I have verified that this is really a priest, and that he requested this account.</label></p>
    		<input type="button" value="Approve">
    		<input type="button" value="Deny">
    		<input type="button" value="Google Him">
    	
    </li>
    <li>
    	<h3>Roland Scott - Diocese of Birmingham, AL</h3>
    	<p>asdfasdf@asdf.com</p>
    	<form></form>
    		<p><input id="verified_checkbox" type="checkbox"><label for="verified_checkbox">I have verified that this is really a priest, and that he requested this account.</label></p>
    		<input type="button" value="Approve">
    		<input type="button" value="Deny">
    		<input type="button" value="Google Him">
    	
    </li>
</ul>
</div>
