<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account_status.name %>
</p>
<div>
	<strong><%= @account_status.name %> accounts</strong>
	<% @account_status.user_accounts.each do |user| %>
	<br /><%= user.username %>
	<% end %>
</div>
