<h1>Listing confessor_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confessor_statuses.each do |confessor_status| %>
      <tr>
        <td><%= confessor_status.name %></td>
        <td><%= link_to 'Show', confessor_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
