<h1>Editing <%= @confession_location.short_name %> (<%= link_to "back", confession_locations_path %>)</h1>

<p>Created by: <%= @created_by_user.formal_name %></p>

<% @edit_mode = "edit" %>
<%= render 'form' %>

