<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @state.abbreviation %>
</p>

<div>
	<strong>Confession Locations</strong>
	<% @state.confession_locations.each do |location|%>
		<br /><%= location.name %>
	<% end %>
</div>
