<h1>Thank You!</h1>

<p class="lead">Your request has been submitted. We'll contact you shortly.</p>

<p class="lead">Your confirmation number is: <%= @confessor_request.confirmation_number %></p>

<p class="lead">We've also emailed this information to you.</p>
