<h2>Thank You!</h2>

<p>Your request has been submitted. We'll contact you shortly.</p>

<p>Your confirmation number is: <%= @confessor_request.confirmation_number %></p>

<p>We've also emailed this information to you.</p>
