<h1>Request an Account</h1>

<p>Fill out the fields below. We'll verify your identity and then send you an email with a link to complete the signup process. This usually takes about three days.</p>
		
<%= render 'form' %>

<%= link_to 'Back', confessor_requests_path %>
