<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account_role.name %>
</p>
<div>
	<strong>Users With Role</strong>
	<% @account_role.user_accounts.each do |user| %>
	<br /><%= user.username %>
	<% end %>
</div>
